.millionaire-game-container {
    padding: 40px 20px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    color: white;
    background-color: #000;
    min-height: 100vh;
  }
  
  .start-screen,
  .game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .start-screen img{
    width: 100%;
    max-width: 280px;
    height: auto;
    max-height: 300px;
    margin-bottom: 20px;
  }
  
  .start-btn,
  .back-btn,
  .next-btn {
    background-color: #00ff00;
    color: black;
    padding: 12px 32px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .start-btn:hover,
  .back-btn:hover,
  .next-btn:hover {
    transform: scale(1.05);
    background-color: #33ff33;
  }
  
  .question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .question {
    font-size: 24px;
    color: #00ff00;
    font-weight: bold;
  }
  
  .options {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 700px;
    justify-items: center;
  }
  
  .option-btn {
    width: 100%;
    padding: 14px 24px;
    font-size: 16px;
    border: 2px solid #00ff00;
    background: transparent;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .option-btn:hover {
    background-color: #00ff00;
    color: black;
  }
  
  .option-btn.selected {
    background-color: #00ff00;
    color: black;
  }
  
  .game-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    padding: 0 16px;
    font-size: 18px;
  }
  
  .lifelines {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .lifeline-circle {
    border: 2px solid #00ff00;
    border-radius: 50%;
    padding: 16px;
    width: 70px;
    height: 70px;
    color: #00ff00;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .wrong-text {
    color: red;
    font-weight: bold;
    font-size: 18px;
  }
  
  .error-text {
    color: red;
    font-size: 20px;
  }
  .option-btn.correct {
  background-color: #00ff00;
  color: black;
}

.option-btn.wrong {
  background-color: red;
  color: white;
}
.victory-screen {
  background-color: black;
  color: #00ff26;
  text-align: center;
  padding: 80px 20px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.victory-text {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 40px;
}

.victory-buttons {
  display: flex;
  gap: 20px;
}

.victory-btn {
  padding: 12px 28px;
  font-size: 18px;
  font-weight: bold;
  background-color: #00ff26;
  color: black;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.victory-btn:hover {
  background-color: #a6ff00;
}
