body {
  background-color: #131313;
  margin: 0;
  padding: 0;
}

/* ------------------email sign-up styles--------------------------- */
.email-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  max-width: 800px;
  margin: 40px auto;
  color: hsl(0, 0%, 85%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Adjust image for responsiveness */
.email-signup-image img {
  background-color: #d9d9d9;
  width: 100%;
  min-width: 300px;
  height: auto;
  border-radius: 10px;
}

/* Adjust text container */
.email-signup-text {
  flex-grow: 1;
  padding: 10px;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  line-height: 1.5;
  min-width: 300px;
}

.email-signup-text h1 {
  font-size: 35px;
  margin-bottom: 0.7rem;
  color: #00ff26;
}

.email-signup-text p {
  font-size: 15px;
  margin-top: 7px;
}

/* Input and Button Styles */
.email-signup-input input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.email-signup-input input:hover {
  background-color: #1e1e1e;
  border: 2px solid #00ff26;
}

.email-signup-button button {
  width: 130px;
  height: 50px;
  font-size: 15px;
  border-radius: 150px;
  border: none;
  background-color: #00ff26;
  color: #131313;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-signup-button button:hover {
  border: 2px solid #00ff26;
  color: #00ff26;
  background-color: #302f2f;
}

/* ----------------------Media Queries for Responsiveness--------------------------- */
@media (max-width: 768px) {
  .email-signup {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .email-signup-image img {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .email-signup-text {
    align-items: center;
    text-align: center;
  }

  .email-signup-text h1 {
    font-size: 2rem;
  }

  .email-signup-text p {
    font-size: 1rem;
  }

  .email-signup-input input {
    font-size: 1rem;
  }

  .email-signup-button button {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .email-signup {
    padding: 10px;
  }

  .email-signup-text h1 {
    font-size: 1.8rem;
  }

  .email-signup-text p {
    font-size: 0.9rem;
  }

  .email-signup-input input {
    font-size: 0.9rem;
  }

  .email-signup-button button {
    font-size: 0.9rem;
  }
}
