/* ----------------------ergonomic styles-------------------- */
.ergonomic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  min-width: 300px;
  color: hsl(0, 0%, 85%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ergonomic-text {
  font-size: 15px;
  width: 100%;
  max-width: 270px;
  min-width: 150px;
  padding: 10px;
  margin: 10px;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: start;
  line-height: 1.5;
}

.ergonomic-text h1 {
  color: #00ff26;
  font-size: 35px;
  min-height: 35px;
  width: 100%;
  margin-bottom: 7px;
}

.ergonomic-text p {
  margin-top: 7px;
}

/* -------------first animation----------------------- */
@keyframes squareToCircle {
  0% {
    transform: translateX(0);
    border-radius: 0;
    border: 2px solid #00ff26;
  }
  100% {
    transform: translateX(250px);
    border-radius: 50%;
    border: 2px solid #00ff26;
  }
}

.animated-square {
  width: 100px;
  height: 100px;
  border: 2px solid #00ff26;
  border-radius: 0;
  animation: squareToCircle 2.5s ease-in-out infinite; /* Increased duration and changed timing function */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

/* -----------------Media Queries for Responsiveness--------------------- */
@media (max-width: 768px) {
  .brille-board {
    flex-direction: column;
    align-items: center;
  }

  .ergonomic {
    flex-direction: column;
    align-items: center;
  }

  .ergonomic-text {
    align-items: center;
    text-align: center;
  }

  .animated-square {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .brille-board-text h1 {
    font-size: 30px;
  }

  .ergonomic-text h1 {
    font-size: 30px;
  }

  .brille-board-button > button {
    width: 100px;
    height: 40px;
    font-size: 13px;
  }
}