.header {
  background-color: #040404;
  padding: 10px;
  min-height: 20px;
}

nav ul {
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 25px;
  min-width: 300px;
  min-height: 20px;
  font-size: 13px;
  flex-wrap: wrap;
}

nav ul li {
  display: flex;
  align-items: center;
  position: relative;
}

nav ul li input {
  background-color: #302f2f;
  border-radius: 10px;
  width: 100px;
  height: auto;
  transition: background-color 0.3s ease;
}
nav ul li input::placeholder {
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav ul li input:hover {
  border-color: #00ff26;
  background-color: black;
}
nav ul li i {
  position: absolute;
  left: 120px;
  color: white;
  transition: background-color 0.3s ease;
}
nav ul li i:hover {
  color: #00ff26;
}

@media (max-width: 768px) {
  nav ul {
    gap: 15px;
  }
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00ff26;
}
